* {
    margin: 0px;
    padding: 0px;
}
.dp-none {
    display: none;
}
.dp-block {
    display: block;
}
.dp-row-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.dp-column-flex {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.po-absolute {
    position: absolute;
}
.po-relative {
    position: relative;
}
.po-fixed {
    position: fixed;
}
.margin-auto {
    margin: 0 auto;
}
.margin-10 {
    margin: 10px;
}
.margin-left-20 {
    margin-left: 20px;
}

.bg-green {
    background-color: green;
}
.bg-red {
    background-color: red;
}
.bg-gray {
    background-color: rgb(93, 93, 93);
}
.bg-white {
    background-color: white;
}
.bg-wm {
    background-color: whitesmoke;
}
.text-size-30 {
    font-size: 30px;
}
.text-color-white {
    color: white;
}

#movie-search-container {
    height: 70px;
}
#movie-search-container > * {
    filter: none;
}
#movie-search {
    width: 400px;
    height: 50px;
}
#movie-search-btn {
    width: 100px;
    height: 25px;
}
#movie-modal {
    width: 100%;
    height: 100%;
}
#movie-modal-container {
    border: 2px solid black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 650px;
}
#movie-modal-overview {
    height: 240px;
    overflow: hidden;
}
/*긴 글자*/
#movie-modal-overview-text {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#movie-modal-cancel-btn {
    width: 30%;
    height: 50px;
}

#movie-container {
    width: 100%;
    height: 100%;
}
.flex-item {
    display: flex;
    flex-direction: row;
    border: 3px solid gray;
}
.movie-item {
    width: 600px;
    height: 200px;
}
.movie-overview {
    width: 300px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
